@namespace AntDesign.Extensions
@inherits AntxDomComponentBase

@{
    RenderFragment? header = null;
     @if(Title != null)
     {
        header =@<AntDesign.Extensions.Header Title="@Title" OnCancel="@OnCancelBtnClick" />;
    }
}

@if (_hasAdd)
{
    <div @ref="_portalRef" style="@_portalStyle">
        <CascadingValue Value="this" IsFixed>
            <DialogCore Options="@CreateOptions()">
                @ChildContent
            </DialogCore>
        </CascadingValue>
    </div>
}
