@namespace AntDesign.Extensions
@inherits AntxDomComponentBase

@if (_hasAdd)
{
    <div @ref="_portalRef" style="@_portalStyle">
        <CascadingValue Value="this" IsFixed>
            <DialogCore Options="@CreateOptions()">
                @ChildContent
            </DialogCore>
        </CascadingValue>
    </div>
}
