@namespace AntDesign.Extensions

<div>
    <div class="@($"{ClsPrefix}-title")">
        @ChildContent
    </div>
    <div class="@($"{ClsPrefix}-tools")">
        @if(Tools == null)
        {
            <span @onclick="@OnCancelBtnClick">x</span>
        }
        else
        {
            @Tools
        }
    </div>
</div>
