@import "./theme-common.scss";

:root {
    /* color theme */
    --default: #fff;
    --primary: #0c66e4;
    --secondary: #44546f;
    --info: #0dcaf0;
    --success: #00b578;
    --warning: #e2b203;
    --danger: #ca3521;
    --light: #f7f8f9;
    --dark: #091e42;
    --weak: #999;
    /* color hover*/
    --default-hovered: rgba(9, 30, 66, 0.06);
    --primary-hovered: #0055cc;
    --secondary-hovered: #2c3e5d;
    /*border*/
    --border-color: #efefef;
    --border-radius: 4px;
    --border-width: 1px;
    --border-style: solid;
    /* text  */
    --text-color-main: #000;
    --text-color-main-reverse: #fff;
    --text-color-weak: var(--weak);
    --text-color-weak: var(--weak);
    --text-color-active: #0c66e4;
    --text-color-disable: #rgba(9, 30, 66, 0.31);
    /*background*/
    --bg-color-active: #e9f2ff;
    --bg-color-disable: rgba(9, 30, 66, 0.03);
    /*other*/
    --gap: 0.5rem;
    --padding: 0.25rem 0.5rem;
    --z-index: 1000;
    --color-box: #f5f5f5;
}
